<h2>Created by: Nahom & Aavash</h2>
<div style="padding: 7px;">
    This website is dedicated to University of Maryland Students. They can use this website to 
    post about different topics at UMD. Those topics include sports, research, career, events 
    and academics. They can post pictures, website url or just have descriptions for these posts.
    Students can interact with the posts through comments. Lastly, there is also a place for them
    to chat. We don't want these messages to be saved so it will act like snapchat where the messages
    will be removed after the chat is finished.
</div>

<hr>
