<style>
    body,
    html {
        height: 100%;
        margin: 0;
    }

    #academicPicture {
        background-image: url('https://pbs.twimg.com/media/D4hnWoTXoAAvSIN.jpg');
    }

</style>
<div id="academicPicture" class="outer-div welcomingPic">
    <div class="inner-div">
            <input class="form-control text" id="myInput" type="text" onkeyup="myFunction()"
                placeholder="Search posts by title..." aria-label="Search">
    </div>
</div>


<article>
    {{> renderListOfPost parameter=data }}
</article>