<style>
    body,
    html {
        height: 100%;
        margin: 0;
    }

    #careerPicture {
        background-image: url('https://akm-img-a-in.tosshub.com/indiatoday/images/story/201807/career_main.jpeg?haGMfHxXB4sapE5qJMNPhK8OMwjN.dtT');
    }

</style>
<div id="careerPicture" class="outer-div welcomingPic">
    <div class="inner-div">
            <input class="form-control text" id="myInput" type="text" onkeyup="myFunction()"
                placeholder="Search posts by title..." aria-label="Search">
    </div>
</div>

<article>
    {{> renderListOfPost parameter=data }}
</article>