<style>
    body,
    html {
        height: 100%;
        margin: 0;
    }

    #chatPicture {
        background-image: url('http://www.nflc.org/sites/default/files/inline-images/TerpsTalkLogo.png');
    }

</style>
<div id="chatPicture" class="outer-div welcomingPic">
    <div class="inner-div">
            <input class="form-control text" id="myInput" type="text" onkeyup="myFunction()"
                placeholder="Search posts by title..." aria-label="Search">
    </div>
</div>
<h1> chat With Random about topics you perfer. At lease One other person will be online and talk
    with each. Eat person will get random name generateed.

    We will use the socket here.
</h1>
<hr>