<h1> chat With Random about topics you perfer. At lease One other person will be online and talk
    with each. Eat person will get random name generateed.

    We will use the socket here.
</h1>
<hr>