 <style>
    body,
    html {
        height: 100%;
        margin: 0;
    }

    #eventPicture {
        background-image: url('https://hub.umd.edu/sites/default/files/styles/umd_2560_1440/public/2018-10/image/3_remsberg_181012131194_1920x1080.JPG?itok=A-Bhy0Yw');
    }

</style>
<div id="eventPicture" class="outer-div welcomingPic"></div>

<article>
    {{> renderListOfPost parameter=data }}
</article>