<style>
    body,
    html {
        height: 100%;
        margin: 0;
    }

    #homePicture {
        background-image: url('https://studentaffairs.umd.edu/sites/studentaffairs.umd.edu/files/microsite-hero/arialmcircle_0_0.jpg');
    }

</style>
<div id="homePicture" class="outer-div welcomingPic">
    <div class="inner-div">
            <input class="form-control text" id="myInput" type="text" onkeyup="myFunction()"
                placeholder="Search posts by title..." aria-label="Search">
    </div>
</div>

<article class="bodyForArticle">
    {{> renderListOfPost parameter=data }}
</article>