<h1>I am singlePost with Comments</h1>

<article>
    {{> renderSinglePost parameter=data }}
</article>

<form action="/post/{{data.category}}/{{data.id}}/addComment" method="POST">
    UserName: <input type="text" name="userName">
    comment:  <input type="text" name="comment"> 
    <input type="submit" value="Add Comment">
</form>