<h1>
    Sport Post:
</h1>

<h4>
    Post should appear recently added to Old.
</h4>
<h4>
    Sort article or post by type of sport [Soccer, fooBall, baseBall, Running]
</h4>
<hr>

<article>
    {{> renderListOfPost parameter=data }}
</article>