<style>
    body,
    html {
        height: 100%;
        margin: 0;
    }

    #sportPicture {
        background-image: url('https://umterps.com/common/controls/image_handler.aspx?thumb_id=0&image_path=/images/2018/6/7/IORECYPNBHFKLII_20150429202359.jpg ');
    }

</style>
<div id="sportPicture" class="outer-div welcomingPic"></div>


<article>
    {{> renderListOfPost parameter=data }}
</article>